{% extends 'books/base.html' %}
{% block body_block %}
<div class="container">
    <div class="header">
        <h1>About Watbooks</h1>
    </div>
    
    <div class="about-body">
        <div class="about-section">
                <h2>A Repository for Tracking Books</h2>
                <p>
                    This site was developed to keep track of my ever growing collection of
                    books. Continuous book purchases have often left me wondering
                    in-store whether I already owned a book.  
                </p>
                <p>
                    This site allows me to quickly check whether or not I already
                    own a book to avoid buying duplicates. I also plan to add features 
                    which will allow me to track which books I have lent to friends.</p>
            </div>
            <div class="about-section">
                    <h2>A Web-App Building Exercise</h2>
                    <p>
                        I am also using this site to practice and further develop my
                        coding skills. I have used the Python-based Django web development
                        framework to build the back-end of the site, as well as HTML and 
                        CSS to build the front-end. As I continue to learn I plan to 
                        add to this site, so keep an eye out for changes.
                    </p>
                </div>
                
    </div>
  
</div>
    
{% endblock %}